*{
    margin: 0;
    padding: 0;
  }
  
  body, html{
    height:100%;
    margin:0
  }
  
  body{
    background-color: #0B0C10;
    color:#C5C6C7;
    font-family: 'Work Sans', sans-serif;
  }
  
  
  
  h1{
    color:#45A29E; 
    text-align: center;
    padding: 10px 10px 10px 10px;
  }
  
  a.index{
    text-decoration: none;
    cursor: pointer;
    position:absolute;
    top:30%;
    width:100%;
    text-align:center;
    font-size:100px;
    font-weight:900;
    transition: 0.3s;
    color:#f1f1f1;
  }
  
  .index:hover {
    color: #66FCF1;
  }
  
  .header-index{
    background-image:url("background.jpg");
    min-height:100%;
    position:relative;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
  }
  
  h2{
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #66FCF1;
  }
   
  h3{
    font-size:18px;
    padding-top: 30px;
    padding-bottom: 0px;
    color: #45A29E;
    border-bottom: 1px solid #45A29E;
  }
  
  h4{
    font-size:24px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #66FCF1;
  }
  #text-list li{
    font-size:20px;
    margin-left: 30px;
  }
  
  p{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  p.reference {
    font-weight:bold;
    font-size:18px;
    color:#45A29E;
    text-align:left;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  figcaption { 
    font-weight:normal;
    font-style:italic;
    font-size:18px;
    color:#45A29E;
    text-align:left;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  
  a.reference{
    font-weight:400;
    text-decoration: none;
    color: #45A29E
  }
  
  a.work-link{
    font-size: 20px;
    text-decoration: none;
    color: #66FCF1;
  }
  
  .main {
    width: 900px;
    text-align: justify;
    padding-top: 20px;
    margin:0 auto;
  }
  
  
  
  .underline{
    display: block;
    margin:auto;
    height: 1px;
    background: #66FCF1;
  }
  
  .underline-ref{
    display: block;
    margin:auto;
    height: 1px;
    background: #C5C6C7;
  }
  
  
  #nav {
    list-style-type: none;
    display: table;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #0B0C10;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  ul.nav {
    list-style-type: none;
    margin: 0px;
  }
  
  li.nav,li.nav-index {
    float: left;
  }
  
  
  li.nav a{
    display: block;
    color: #C5C6C7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  li.nav-index a{
    display: block;
    color: #C5C6C7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
     
  }
  
  li.nav a:hover {
    border-bottom: 1px solid #66FCF1;  
    transition: 0.3s;
  }
  
  li.nav-index a:hover {
    border: 1px solid #66FCF1;    
    transition: 0.3s;
  }
  
  #nav a.active {
    background-color: #0B0C10;
    color: #C5C6C7;
    border: 1px solid #66FCF1;
  }
  
  ol{
    margin-left: 50px;
    font-size: 20px;
  }
  
  #links{
    margin-left:auto;
    margin-right:auto;
    font-size: 20px;
    border-collapse: collapse;
  }
  #links td, #links th{
    border: 1px #C5C6C7;
    padding: 8px;
  }
  
  ul{
    margin-left: 50px;
    font-size: 20px; 
  }
  
  #attributes{
    width: 100%;
    font-size: 20px;
    text-align:center;
    border-collapse: collapse;
  }
  
  #attributes table, th, td{
    border: 1px solid #C5C6C7;
    border-collapse: collapse;
  }
  
  #attributes th, td{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  
  .center{
    display: block;
    margin-left:auto;
    margin-right:auto;
  }
  
  
  /* autonomous */
  
  h2.wrap-collapsible-autonomous{
    display:inline-block;
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #66FCF1;
  }
  
  input[type='checkbox'] {
    display: none;
  }
  
  .lbl-toggle-autonomous{
    padding: 1rem;
    cursor: pointer;
    transition: all 0.25s ease-out;
  }
  
  .lbl-toggle-autonomous:hover {
    color: #66FCF1;
  }
  
  .lbl-toggle-autonomous::before {
    content: ' ';
    display: inline-block;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
  
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
  }
  .collapsible-content-autonomous {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
  }
  .toggle-autonomous:checked + .lbl-toggle-autonomous + .collapsible-content-autonomous {
    max-height: 100%;
  }
  .toggle-autonomous:checked + .lbl-toggle-autonomous::before {
    transform: rotate(90deg) translateX(-3px);
  }
  
  /* blockchain */
  
  h2.wrap-collapsible-blockchain{
    display:inline-block;
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #66FCF1;
  }
  
  .lbl-toggle-blockchain{
    padding: 1rem;
    cursor: pointer;
    transition: all 0.25s ease-out;
  }
  
  .lbl-toggle-blockchain:hover {
    color: #66FCF1;
  }
  
  .lbl-toggle-blockchain::before {
    content: ' ';
    display: inline-block;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
  
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
  }
  .collapsible-content-blockchain {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
  }
  .toggle-blockchain:checked + .lbl-toggle-blockchain + .collapsible-content-blockchain {
    max-height: 100%;
  }
  .toggle-blockchain:checked + .lbl-toggle-blockchain::before {
    transform: rotate(90deg) translateX(-3px);
  }
  
  /* cloud */
  
  h2.wrap-collapsible-cloud{
    display:inline-block;
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #66FCF1;
  }
  
  .lbl-toggle-cloud{
    padding: 1rem;
    cursor: pointer;
    transition: all 0.25s ease-out;
  }
  
  .lbl-toggle-cloud:hover {
    color: #66FCF1;
  }
  
  .lbl-toggle-cloud::before {
    content: ' ';
    display: inline-block;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
  
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
  }
  .collapsible-content-cloud {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
  }
  .toggle-cloud:checked + .lbl-toggle-cloud + .collapsible-content-cloud {
    max-height: 100%;
  }
  .toggle-cloud:checked + .lbl-toggle-cloud::before {
    transform: rotate(90deg) translateX(-3px);
  }
  
  /* cybersecurity */
  
  h2.wrap-collapsible-cybersecurity{
    display:inline-block;
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #66FCF1;
  }
  
  input[type='checkbox'] {
    display: none;
  }
  
  .lbl-toggle-cybersecurity{
    padding: 1rem;
    cursor: pointer;
    transition: all 0.25s ease-out;
  }
  
  .lbl-toggle-cybersecurity:hover {
    color: #66FCF1;
  }
  
  .lbl-toggle-cybersecurity::before {
    content: ' ';
    display: inline-block;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
  
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
  }
  .collapsible-content-cybersecurity {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
  }
  .toggle-cybersecurity:checked + .lbl-toggle-cybersecurity + .collapsible-content-cybersecurity {
    max-height: 100%;
  }
  .toggle-cybersecurity:checked + .lbl-toggle-cybersecurity::before {
    transform: rotate(90deg) translateX(-3px);
  }
  
  .column-images {
    float: left;
    width: 50%;
  
  }
  
  .row-images::after {
    content: "";
    clear: both;
    display: table;
  }
  