*{
    margin: 0;
    padding: 0;
  }
  
  body, html{
    height:100%;
    margin:0
  }
  
  body{
    background-color: #0B0C10;
    color:#C5C6C7;
    font-family: 'Work Sans', sans-serif;
  }
  
  
  
  h1{
    color:#45A29E; 
    text-align: center;
    padding: 10px 10px 10px 10px;
  }
  
  a.index{
    text-decoration: none;
    cursor: pointer;
    position:absolute;
    top:20%;
    width:100%;
    text-align:center;
    font-size:75px;
    font-weight:900;
    transition: 0.3s;
    color:#0B0C10;
  }
  
  .index:hover {
    
  }
  
  .header-index{
    background-image:url("background.jpg");
    min-height:100%;
    position:relative;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
  }
  
  h2{
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #66FCF1;
  }
   
  h3{
    font-size:18px;
    padding-top: 30px;
    padding-bottom: 0px;
    color: #45A29E;
    border-bottom: 1px solid #45A29E;
  }
  
  h4{
    font-size:24px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #66FCF1;
  }
  #text-list li{
    font-size:20px;
    margin-left: 30px;
  }
  
  p{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  p.reference {
    font-weight:bold;
    font-size:18px;
    color:#45A29E;
    text-align:left;
    padding-top: 5px;
    padding-bottom: 5px;
  }


  
  figcaption { 
    font-weight:normal;
    font-style:italic;
    font-size:18px;
    color:#45A29E;
    text-align:left;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  
  a.reference{
    font-weight:400;
    text-decoration: none;
    color: #45A29E
  }
  
  a.work-link{
    font-size: 20px;
    text-decoration: none;
    color: #66FCF1;
  }
  
  .main {
    width: 900px;
    text-align: justify;
    padding-top: 20px;
    margin:0 auto;
  }
  
  
  
  .underline{
    display: block;
    margin:auto;
    height: 1px;
    background: #66FCF1;
  }
  
  .underline-ref{
    display: block;
    margin:auto;
    height: 1px;
    background: #C5C6C7;
  }
  
  
  #nav {
    list-style-type: none;
    display: table;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #0B0C10;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  ul.nav {
    list-style-type: none;
    margin: 0px;
  }
  
  li.nav,li.nav-index {
    float: left;
  }
  
  
  li.nav a{
    display: block;
    color: #C5C6C7;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    
  }
  
  li.nav-index a{
    display: block;
    color: #C5C6C7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
     
  }
  
  li.nav a:hover {
    padding-bottom: 15px;
    border-bottom: 1px solid #66FCF1;  
    transition: 0.3s;
  }
  
  li.nav-index a:hover {
    border: 1px solid #66FCF1;    
    transition: 0.3s;
  }
  
  #nav a.active {
    background-color: #0B0C10;
    color: #C5C6C7;
    border: 1px solid #66FCF1;
  }
  
  ol{
    margin-left: 50px;
    font-size: 20px;
  }
  
  #links{
    margin-left:auto;
    margin-right:auto;
    font-size: 20px;
    border-collapse: collapse;
  }
  #links td, #links th{
    border: 1px #C5C6C7;
    padding: 8px;
  }
  
  ul{
    margin-left: 50px;
    font-size: 20px; 
  }
  
  #attributes{
    width: 100%;
    font-size: 20px;
    text-align:center;
    border-collapse: collapse;
  }
  
  #attributes table, th, td{
    border: 1px solid #C5C6C7;
    border-collapse: collapse;
  }
  
  #attributes th, td{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  
  .center{
    display: block;
    margin-left:auto;
    margin-right:auto;
  }
  
  
 
  

  
  .column-images {
    float: left;
    width: 50%;
  
  }
  
  .row-images::after {
    content: "";
    clear: both;
    display: table;
  }



  /*Tabs*/
.tabs {
  max-width: 100%;
  margin-top: 20px;
  
  align: center;
}
.tabs input {
  display: none;
}
.tabs label {
  display: inline-block;
  padding: 6px 0 6px 0;
  margin: 0 -2px;
  width: 50%; 
  font-size:24px;
  font-weight:900;
  border-bottom: 1px solid #66FCF1;
  text-align: center;
}
.tabs label:hover {
  cursor: pointer;
  transition: 0.3s;
  color: #66FCF1;
}
.tabs input:checked + label {
  border: 1px solid #66FCF1;
  border-width: 1px 1px 0 1px;
}
.tabs #tab1:checked ~ .content #content1,
.tabs #tab2:checked ~ .content #content2{
  display: block;
}
.tabs .content > div {
  display: none;
  padding-top: 20px;
  text-align: justify;
  /*height: 192px;*/
  overflow: auto;
}



/* backend developer */

h2.wrap-collapsible-backend{
  display:inline-block;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #66FCF1;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle-backend{
  padding: 1rem;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.lbl-toggle-backend:hover {
  color: #66FCF1;
}

.lbl-toggle-backend::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}
.collapsible-content-backend {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}
.toggle-backend:checked + .lbl-toggle-backend + .collapsible-content-backend {
  max-height: 100%;
}
.toggle-backend:checked + .lbl-toggle-backend::before {
  transform: rotate(90deg) translateX(-3px);
}

/* front end developper */

h2.wrap-collapsible-frontend{
  display:inline-block;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #66FCF1;
}

.lbl-toggle-frontend{
  padding: 1rem;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.lbl-toggle-frontend:hover {
  color: #66FCF1;
}

.lbl-toggle-frontend::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}
.collapsible-content-frontend {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}
.toggle-frontend:checked + .lbl-toggle-frontend + .collapsible-content-frontend {
  max-height: 100%;
}
.toggle-frontend:checked + .lbl-toggle-frontend::before {
  transform: rotate(90deg) translateX(-3px);
}

/* ux designer */

h2.wrap-collapsible-ux{
  display:inline-block;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #66FCF1;
}

.lbl-toggle-ux{
  padding: 1rem;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.lbl-toggle-ux:hover {
  color: #66FCF1;
}

.lbl-toggle-ux::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}
.collapsible-content-ux {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}
.toggle-ux:checked + .lbl-toggle-ux + .collapsible-content-ux {
  max-height: 100%;
}
.toggle-ux:checked + .lbl-toggle-ux::before {
  transform: rotate(90deg) translateX(-3px);
}

/* content editor */

h2.wrap-collapsible-editor{
  display:inline-block;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #66FCF1;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle-editor{
  padding: 1rem;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.lbl-toggle-editor:hover {
  color: #66FCF1;
}

.lbl-toggle-editor::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}
.collapsible-content-editor {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}
.toggle-editor:checked + .lbl-toggle-editor + .collapsible-content-editor {
  max-height: 100%;
}
.toggle-editor:checked + .lbl-toggle-editor::before {
  transform: rotate(90deg) translateX(-3px);
}
  